@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 12rem;
}

@media (max-width: 900px) {
  main {
    margin: 2rem 2rem;
  }
}
